In [1]:
import pandas as pd

In [13]:
df= pd.read_excel('Table_1_Crime_in_the_United_States_by_Volume_and_Rate_per_100000_Inhabitants_1997-2016.xls')

In [14]:
df.head()

,Year,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Robbery,Robbery \nrate,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
0,1997,1636096,611.0,18208,6.8,498534,186.2,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
1,1998,1533887,567.6,16974,6.3,447186,165.5,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
2,1999,1426044,523.0,15522,5.7,409371,150.1,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
3,2000,1425486,506.5,15586,5.5,408016,145.0,911706,324.0,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
4,20015,1439480,504.5,16037,5.6,423557,148.5,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5

In [15]:
df.to_csv("Table1Crime.csv")

In [16]:
df['Robbery'].to_csv("Roberry.csv")

In [17]:
df.set_index("Year")

,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Robbery,Robbery \nrate,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
Year,,,,,,,,,,,,,,,,
1997,1636096,611.0,18208,6.8,498534,186.2,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
1998,1533887,567.6,16974,6.3,447186,165.5,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
1999,1426044,523.0,15522,5.7,409371,150.1,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
2000,1425486,506.5,15586,5.5,408016,145.0,911706,324.0,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
20015,1439480,504.5,16037,5.6,423557,148.5,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5
2002,1423677,494.4,16229,5.6,420806,146.1,891407,309.5,10455277,3630.6,2151252,747.0,7057379,2450.7,1246646,432.9
2003,1383676,475.8,16528,5.7,414235,142.5,859030,295.4,10442862,3591.2,2154834,741.0,7026802,2416.5,1261226,433.7
2004,1360088,463.2,16148,5.5,401470,136.7,847381,288.6,10319386,3514.1,2144446,730.3,6937089,2362.3,1237851,421.5
2005,1390745,469.0,16740,5.6,417438,140.8,862220,290.8,10174754,3431.5,2155448,726.9,6783447,2287.8,1235859,416.8
2006,1435123,479.3,17309,5.8,449246,150.0,874096,292.0,10019601,3346.6,2194993,733.1,6626363,2213.2,1198245,400.2
2007,1422970,471.8,17128,5.7,447324,148.3,866358,287.2,9882212,3276.4,2190198,726.1,6591542,2185.4,1100472,364.9
2008,1394461,458.6,16465,5.4,443563,145.9,843683,277.5,9774152,3214.6,2228887,733.0,6586206,2166.1,959059,315.4
2009,1325896,431.9,15399,5.0,408742,133.1,812514,264.7,9337060,3041.3,2203313,717.7,6338095,2064.5,795652,259.2
2010,1251248,404.5,14722,4.8,369089,119.3,781844,252.8,9112625,2945.9,2168459,701.0,6204601,2005.8,739565,239.1
2011,1206005,387.1,14661,4.7,354746,113.9,752423,241.5,9052743,2905.4,2185140,701.3,6151095,1974.1,716508,230.0
2012,1217057,387.8,14856,4.7,355051,113.1,762009,242.8,9001992,2868.0,2109932,672.2,6168874,1965.4,723186,230.4
2013,1168298,369.1,14319,4.5,345093,109.0,726777,229.6,8651892,2733.6,1932139,610.5,6019465,1901.9,700288,221.3
2014,1153022,361.6,14164,4.4,322905,101.3,731089,229.2,8209010,2574.1,1713153,537.2,5809054,1821.5,686803,215.4
20156,1199310,373.7,15883,4.9,328109,102.2,764057,238.1,8024115,2500.5,1587564,494.7,5723488,1783.6,713063,222.2
2016,1248185,386.3,17250,5.3,332198,102.8,803007,248.5,7919035,2450.7,1515096,468.9,5638455,1745.0,765484,236.9

In [18]:
df.set_index("Year", inplace=True)

In [19]:
df.head()

,Violent\ncrime2,Violent \ncrime \nrate,Murder and\nnonnegligent \nmanslaughter,Murder and \nnonnegligent \nmanslaughter \nrate,Robbery,Robbery \nrate,Aggravated \nassault,Aggravated \nassault rate,Property \ncrime,Property \ncrime \nrate,Burglary,Burglary \nrate,Larceny-\ntheft,Larceny-\ntheft rate,Motor \nvehicle \ntheft,Motor \nvehicle \ntheft \nrate
Year,,,,,,,,,,,,,,,,
1997,1636096,611.0,18208,6.8,498534,186.2,1023201,382.1,11558475,4316.3,2460526,918.8,7743760,2891.8,1354189,505.7
1998,1533887,567.6,16974,6.3,447186,165.5,976583,361.4,10951827,4052.5,2332735,863.2,7376311,2729.5,1242781,459.9
1999,1426044,523.0,15522,5.7,409371,150.1,911740,334.3,10208334,3743.6,2100739,770.4,6955520,2550.7,1152075,422.5
2000,1425486,506.5,15586,5.5,408016,145.0,911706,324.0,10182584,3618.3,2050992,728.8,6971590,2477.3,1160002,412.2
20015,1439480,504.5,16037,5.6,423557,148.5,909023,318.6,10437189,3658.1,2116531,741.8,7092267,2485.7,1228391,430.5

In [21]:
df['Robbery'].to_csv("newcsv.csv")

We Get Date as Index

In [24]:
df = pd.read_csv("newcsv.csv", index_col =0)

In [25]:
df.head()

       Robbery
Year
1997    498534
1998    447186
1999    409371
2000    408016
20015   423557

In [32]:
df = pd.read_csv("newcsv.csv", index_col =0, names=["Date", 'Robbery_Data'])

In [33]:
df.head()

     Robbery_Data
Date
Year      Robbery
1997       498534
1998       447186
1999       409371
2000       408016

In [34]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])

In [35]:
df1

   A  B
a  1  4
b  2  5
c  3  6

In [36]:
store = pd.HDFStore("hdfStore.h5")
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: hdfStore.h5

In [37]:
store.put("d1", df, format="table"  )

In [38]:
print(store["d1"].shape)

(21, 1)

In [39]:
store.close()

In [43]:
hdf = pd.read_hdf("hdfstore.h5", "d1")

In [44]:
hdf.head()

     Robbery_Data
Date
Year      Robbery
1997       498534
1998       447186
1999       409371
2000       408016

In [45]:
hdf.to_json("example.json")

In [47]:
df2 = pd.read_json("example.json")

In [48]:
df2.head()

      Robbery_Data
1997        498534
1998        447186
1999        409371
2000        408016
20015       423557

In [51]:
df_json = pd.read_json("gross-general-government-debt-esa2010-as-a-percentage-of-the-annualised-gross-domestic-product-by-st-1.json")

In [52]:
df_json.head()

                                                     dataset
dimension  {'State': {'label': 'State', 'category': {'ind...
label      Gross General Government Debt ESA2010 as a Per...
source                    Central Statistics Office, Ireland
updated                                 2018-01-19T01:07:40Z
value      [45.4, 42.9, 39.6, 36.1, 34.4, 32.8, 33.0, 33....

In [62]:


debt_json1 = urllib.request.urlopen('https://api.publicapis.org/entries').read()

In [63]:
df_json1 = pd.read_json(debt_json)

ValueError: Expected object or value

In [64]:
import urllib.request
debt_json = urllib.request.urlopen('https://api.coindesk.com/v1/bpi/currentprice.json').read()

In [65]:
df_json = pd.read_json(debt_json)

In [66]:
df_json.head()

,time,disclaimer,chartName,bpi
updated,"Nov 23, 2020 09:09:00 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2020-11-23T09:09:00+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Nov 23, 2020 at 09:09 GMT",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '18..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."

In [61]:
df_json

,time,disclaimer,chartName,bpi
updated,"Nov 23, 2020 09:04:00 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2020-11-23T09:04:00+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Nov 23, 2020 at 09:04 GMT",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '18..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."
EUR,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'EUR', 'symbol': '&euro;', 'rate': '1..."

In [67]:
df_json.to_pickle('pickle.pickle')

In [68]:
newdf = pd.read_pickle('pickle.pickle')

In [69]:
newdf.head()

,time,disclaimer,chartName,bpi
updated,"Nov 23, 2020 09:09:00 UTC",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updatedISO,2020-11-23T09:09:00+00:00,This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
updateduk,"Nov 23, 2020 at 09:09 GMT",This data was produced from the CoinDesk Bitco...,Bitcoin,NaN
USD,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'USD', 'symbol': '&#36;', 'rate': '18..."
GBP,NaN,This data was produced from the CoinDesk Bitco...,Bitcoin,"{'code': 'GBP', 'symbol': '&pound;', 'rate': '..."

In [70]:
import pickle
pickle_out = open('newdf.pickle', 'wb')

In [71]:
pickle.dump(newdf, pickle_out)
pickle_out.close()

In [72]:
pickle_in = open('newdf.pickle', 'rb')
read_pickle = pickle.load(pickle_in)
print(read_pickle)

                                 time  \
updated     Nov 23, 2020 09:09:00 UTC
updatedISO  2020-11-23T09:09:00+00:00
updateduk   Nov 23, 2020 at 09:09 GMT
USD                               NaN
GBP                               NaN
EUR                               NaN

                                                   disclaimer chartName  \
updated     This data was produced from the CoinDesk Bitco...   Bitcoin
updatedISO  This data was produced from the CoinDesk Bitco...   Bitcoin
updateduk   This data was produced from the CoinDesk Bitco...   Bitcoin
USD         This data was produced from the CoinDesk Bitco...   Bitcoin
GBP         This data was produced from the CoinDesk Bitco...   Bitcoin
EUR         This data was produced from the CoinDesk Bitco...   Bitcoin

                                                          bpi
updated                                                   NaN
updatedISO                                                NaN
updateduk                                                 NaN
USD         {'code': 'USD', 'symbol': '&#36;', 'rate': '18...
GBP         {'code': 'GBP', 'symbol': '&pound;', 'rate': '...
EUR         {'code': 'EUR', 'symbol': '&euro;', 'rate': '1...

In [73]:
print(read_pickle.head())

                                 time  \
updated     Nov 23, 2020 09:09:00 UTC
updatedISO  2020-11-23T09:09:00+00:00
updateduk   Nov 23, 2020 at 09:09 GMT
USD                               NaN
GBP                               NaN

                                                   disclaimer chartName  \
updated     This data was produced from the CoinDesk Bitco...   Bitcoin
updatedISO  This data was produced from the CoinDesk Bitco...   Bitcoin
updateduk   This data was produced from the CoinDesk Bitco...   Bitcoin
USD         This data was produced from the CoinDesk Bitco...   Bitcoin
GBP         This data was produced from the CoinDesk Bitco...   Bitcoin

                                                          bpi
updated                                                   NaN
updatedISO                                                NaN
updateduk                                                 NaN
USD         {'code': 'USD', 'symbol': '&#36;', 'rate': '18...
GBP         {'code': 'GBP', 'symbol': '&pound;', 'rate': '...

In [77]:
import time
start = time.time()
df_json.to_pickle('pickle.pickle')
newdf = pd.read_pickle('pickle.pickle')
print(time.time()-start)

start = time.time()
pickle_out = open('pickle.pickle', 'wb')
pickle.dump(newdf, pickle_out)
pickle_out.close()
pickle_in = open('pickle.pickle', 'rb')
read_pickle = pickle.load(pickle_in)
print(time.time()-start)

0.12363886833190918
0.007993459701538086